body{
    background-color: #d3f7f4;
}

h2{
    text-align: center;
}
h1{
    text-align: center;
}
/* p{
    text-align: center;
} */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  }